:root {
	--fg: #0d0d0d;
	--bg: #f3f3f3;
	--em: #c3c3c3;
}

/*
.oswald-regular {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
*/
header {
	background-color: var(--fg);
	color: var(--bg)
}

header a {
	display: flex
}
